<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Example Files{{/i}}</h1>
  <p class="lead">{{_i}}Get started right away with these sample html files.{{/i}}</p>
</header>

<div class="row page-header">
  <div class="span12">
    <h2>Included in Kickstrap</h2><small>{{_i}}Download these files here or find them in your Kickstrap full download*{{/i}}</small>
  </div>
  <div class="span12">
    <p>*In a full Kickstrap download, these files will be in the root folder. If you're upgrading your existing Bootstrap installation via the <code>/extras</code> folder, you'll find them there.</p>
  </div>
</div>

<ul class="thumbnails bootstrap-examples">
  <li class="span6">
    <a class="thumbnail" href="examples/index.html">
      <img src="assets/img/index.png" alt="">
    </a>
    <h3>{{_i}}Starter HTML Doc{{/i}}</h3>
    <p>{{_i}}It may not look like much, but this file, based on the HTML doc from HTML5 Boilerplate, has all the goodies of Kickstrap linked and ready to use or turn on.{{/i}}</p>
  </li>
  <li class="span6">
    <a class="thumbnail" href="examples/sample.html">
      <img src="assets/img/sample.png" alt="">
    </a>
    <h3>{{_i}}Sample{{/i}}</h3>
    <p>{{_i}}The sample.html file is a copy of the index.html file, but with a layout and a smattering of interactive elements from Kickstrap and Bootstrap. This is a useful file for theme testing.{{/i}}</p>
  </li>
</ul>

<div class="row page-header">
  <div class="span12">
    <h2>Premium Themes</h2><small>{{_i}}Many more available from <a href="http://wrapbootstrap.com">WrapBootstrap</a>{{/i}}</small>
  </div>
</div>

<ul class="thumbnails bootstrap-examples">
  <li class="span6">
    <a class="thumbnail" href="http://wrapbootstrap.com/theme/css-time-business-theme-WB006843O">
      <img src="assets/img/wrapbootstrap.png" alt="">
    </a>
    <h3>{{_i}}CSS Time{{/i}}</h3>
    <p>{{_i}}Business Theme.{{/i}}</p>
  </li>
  <li class="span6">
    <ul>
      <h3>Theme includes:</h3>
      <li>Front-page</li>
      <li>Single page</li>
      <li>Two pricing pages (default, fluid)</li>
      <li>All Photoshop files with documentation</li>
      <li>Two different header designs</li>
      <h3>Browsers</h3>
      <li>Firefox 4+</li>
      <li>Latest Chrome</li>
      <li>Latest Safari</li>
      <li>Internet Explorer 7+</li>
      <li>Opera 11</li>
    </ul>
    
    <br /><br />
    <h3>More professional themes available at <a href="http://wrapbootstrap.com">WrapBootstrap.com <i class="icon-share-alt"></i></a></h3>
  </li>
</ul>

<div class="row page-header">
  <div class="span12">
    <h2>Bootstrap Examples</h2><small>{{_i}}Here are the examples provided with bootstrap for creating simple layouts (With the Kickstrap "Sandra" theme.){{/i}}</small>
  </div>
</div>

<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <a class="thumbnail" href="examples/hero.html">
      <img src="assets/img/examples/bootstrap-example-hero.jpg" alt="">
    </a>
    <h3>{{_i}}Basic marketing site{{/i}}</h3>
    <p>{{_i}}Featuring a hero unit for a primary message and three supporting elements.{{/i}}</p>
  </li>
  <li class="span4">
    <a class="thumbnail" href="examples/fluid.html">
      <img src="assets/img/examples/bootstrap-example-fluid.jpg" alt="">
    </a>
    <h3>{{_i}}Fluid layout{{/i}}</h3>
    <p>{{_i}}Uses our new responsive, fluid grid system to create seamless liquid layout.{{/i}}</p>
  </li>
  <li class="span4">
    <a class="thumbnail" href="examples/starter-template.html">
      <img src="assets/img/examples/bootstrap-example-starter.jpg" alt="">
    </a>
    <h3>{{_i}}Starter template{{/i}}</h3>
    <p>{{_i}}A barebones HTML document with all the Bootstrap CSS and javascript included.{{/i}}</p>
  </li>
</ul>
