<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1 style="text-shadow: 1px 1px 2px darkGreen;">{{_i}}Kickstrap{{/i}}</h1>
    <p>{{_i}}A full version of Twitter's Bootstrap with themes, enhancements, and other goodies.{{/i}}</p>
    <ul class="quick-links">
      <!--li><a href="./upgrading.html">{{_i}}Upgrading from 1.4{{/i}}</a></li!-->
      <li><a href="https://github.com/ajkochanowicz/kickstrap/issues?state=open">{{_i}}Issues{{/i}}</a></li>
      <!--li><a href="https://github.com/twitter/bootstrap/wiki">{{_i}}Roadmap &amp; changelog{{/i}}</a></li-->
      <li class="divider">&middot;</li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ajkochanowicz&repo=kickstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ajkochanowicz&repo=kickstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </li>
      <li class="divider">&middot;</li>
      <li class="follow-btn">
        <a href="https://twitter.com/yourwebsitesUX" class="twitter-follow-button" data-width="225px" data-link-color="#0069D6" data-show-count="true">{{_i}}Follow @yourwebsitesUX{{/i}}</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ajkochanowicz.github.com/Kickstrap/" data-count="horizontal" data-via="yourwebsitesUX">Tweet</a>
      </li>
    </ul>
    <div class="alert alert-success">
      <p><strong>{{_i}}Download the Beta{{/i}}</strong></p>
      <p>{{_i}}Early releases are available to journalists <a href="http://twitter.com/yourwebsitesux">by request</a>. Otherwise, <strong><a href="http://beta.getkickstrap.com">sign up to be notified</a></strong> when the beta is available.{{/i}}</p>
    </div>
    <p class="download-info">
      <a href="https://github.com/ajkochanowicz/kickstrap/" class="btn btn-large"><i class="icon-github-sign"></i>&nbsp;&nbsp;{{_i}}View project on GitHub{{/i}}</a>
      <a href="https://github.com/ajkochanowicz/Kickstrap/zipball/master" class="btn btn-primary btn-large"><i class="icon-download-alt"></i>&nbsp;&nbsp;{{_i}}Download Kickstrap 0.9.1 Alpha{{/i}}</a>
    </p>
  </div>
</header>

<hr class="soften">

<div class="marketing">
  <h1>{{_i}}Enhancement over Bloating{{/i}}</h1>
  <p class="marketing-byline">{{_i}}Feature rich without feature creep.{{/i}}</p>
  <div class="row">
    <div class="span4">
      <h2><i class="icon-ok"></i>&nbsp;&nbsp;{{_i}}Ready to go{{/i}}</h2>
      <p>{{_i}}Developers will love the advanced features, but novices need not worry about customization. Kickstrap is drag-and-drop ready to go. I've even included two sample html files with everything linked and the best features turned on.{{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icon-resize-small"></i>&nbsp;&nbsp;{{_i}}Minify and Optimize on the Fly{{/i}}</h2>
      <p>{{_i}}With <a href="html5boilerplate.com">HTML5 Boilerplate</a>'s build script, your entire directory of javascript, css, and images can be minified and optimized with two simple words (ant build) in the command line. (Optional){{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icon-refresh"></i> {{_i}}Cross-everything{{/i}}</h2>
      <p>{{_i}}Bootstrap did such an awesome job with css @media support, I've turned it on by default and responsively-designed the default Kickstrap theme.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span4">
      <h2><i class="icon-edit"></i>&nbsp;&nbsp;{{_i}}Javascript plugins{{/i}}</h2>
      <p>{{_i}}I've carefully selected a few optional javascript plugins to bring a little more life to your Kickstrap project.{{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icon-file"></i>&nbsp;&nbsp;{{_i}}Sparkling HTML{{/i}}</h2>
      <p>{{_i}}The included starter HTML files are ready to go with code for Google Analytics, CDN-hosted jQuery with local fallback, IE version detection, responsive screen detection, HTML5 Polyfilling (via Modernizr), and several other delightfully nerdy things.{{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icomoon-video"></i> {{_i}}CSS Animations, just add water{{/i}}</h2>
      <p>{{_i}}Easy to implement CSS animations from <a href="http://daneden.me/animate/">animate.css</a>. See the <a href="http://ajkochanowicz.github.com/Kickstrap/examples.html">included index page</a> for an example.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span4">
      <h2><i class="icon-picture"></i>&nbsp;&nbsp;{{_i}}Themes Included{{/i}}</h2>
      <p>{{_i}}Easily activate and install themes. Using a <a href="http://lesscss.org">LESS </a>compiler, Kickstrap will override Bootstrap's default style where needed so your users won't need to download an extra stylesheet.{{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icon-flag"></i>&nbsp;&nbsp;{{_i}}Icon Fonts > Images{{/i}}</h2>
      <p>{{_i}}I've replaced the glyphicon library with the identical, extended, and awesome <a href="http://fortawesome.github.com/Font-Awesome/#"><i class="icon-flag"></i> Font Awesome</a> and <a href="http://keyamoon.com/icomoon/#toHome"><i class="icomoon-icomoon"></i> IcoMoon</a>, specially made for Bootstrap. <a href="http://css-tricks.com/examples/IconFont/">Here's why icon fonts are awesome</a>.{{/i}}</p>
    </div>
    <div class="span4">
      <h2><i class="icomoon-edit"></i>&nbsp;&nbsp;{{_i}}Workflow Tools{{/i}}</h2>
      <p>{{_i}}With the HTML5 Boilerplate Buildscript, easily compress, minify, and optimize your site files automatically.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span3">
      
      <h3><i class="icomoon-htmlfive "></i>  HTML5</h3>
      <p>{{_i}}Built to support new HTML5 elements and syntax.{{/i}}</p>
    </div>
    <div class="span3">
      <h3><i class="icomoon-cssthree"></i>  CSS3</h3>
      <p>{{_i}}Progressively enhanced components for ultimate style.{{/i}}</p>
    </div>
    <div class="span3">
      <h3><i class="icomoon-heart"></i>  {{_i}}Open-source{{/i}}</h3>
      <p>{{_i}}Built for and maintained by the community via <a href="https://github.com">GitHub</a>.{{/i}}</p>
    </div>
    <div class="span3">
      <h3><i class="icomoon-twitter"></i>  {{_i}}Twitter-Inspired{{/i}}</h3>
      <p>{{_i}}Brought to you by an experienced <a href="http://twitter.com/fat">engineer</a>, <a href="http://twitter.com/mdo">designer</a>, and a <a href="http://twitter.com/yourwebsitesux">UX specialist</a>.{{/i}}</p>
    </div>
  </div><!--/row-->

  <hr class="soften">

  <h1>{{_i}}Built with Kickstrap.{{/i}}</h1>
  <p class="marketing-byline">{{_i}}Have you built a classy site in Kickstrap? <a href="http://twitter.com/yourwebsitesux" target="_blank">Detaaaaaails!</a> also <a href="./examples.html">browse the examples</a> to check my style.{{/i}}</p>
  <!--ul class="thumbnails example-sites">
    <li class="span4">
      <a class="thumbnail" href="http://kippt.com/" target="_blank">
        <img src="assets/img/example-sites/kippt.png" alt="Kippt">
      </a>
    </li>
    <li class="span4">
      <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
        <img src="assets/img/example-sites/fleetio.png" alt="Fleetio">
      </a>
    </li>
    <li class="span4">
      <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
        <img src="assets/img/example-sites/jshint.png" alt="JS Hint">
      </a>
    </li>
  </ul-->

</div><!-- /.marketing -->