<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Themes{{/i}}</h1>
  <p class="lead">{{_i}}A decent package of themes ready to go, thanks to <a href="http://bootswatch.com">Bootswatch{{/i}}</a></p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#amelia">{{_i}}Amelia{{/i}}</a></li>
      <li><a href="#cerulean">{{_i}}Cerulean{{/i}}</a></li>
      <li><a href="#cyborg">{{_i}}Cyborg{{/i}}</a></li>
      <li><a href="#journal">{{_i}}Journal{{/i}}</a></li>
      <li><a href="#readable">{{_i}}Readable{{/i}}</a></li>
      <li><a href="#sandra">{{_i}}Sandra{{/i}}</a></li>
      <li><a href="#simplex">{{_i}}Simplex{{/i}}</a></li>
      <li><a href="#slate">{{_i}}Slate{{/i}}</a></li>
      <li><a href="#spacelab">{{_i}}Spacelab{{/i}}</a></li>
      <li><a href="#spruce">{{_i}}Spruce{{/i}}</a></li>
      <li><a href="#superhero">{{_i}}Superhero{{/i}}</a></li>
      <li><a href="#united">{{_i}}United{{/i}}</a></li>
    </ul>
  </div>
</header>


<!-- Typography
================================================== -->
<section id="typography">
  <div class="page-header">
    <h1>{{_i}}Customize your site <small>Easily change, add, or create new themes{{/i}}</small></h1>
  </div>

  <h2>{{_i}}Only change what you need{{/i}}</h2>

  <!-- Headings & Paragraph Copy -->
  <div class="row">
    <div class="span4">
      <p>{{_i}}Kickstrap themes override the default Bootstrap theme. This means you don't have to define a style for every element. Kickstrap will fall back to Bootstrap by default.{{/i}}</p>
    </div>
    <div class="span8">
      {{_i}}[Sorry, not finished writing the documentation yet. Check back soon.]{{/i}}
    </div>
  </div>
