<div class="row">
   <div class="span12">
      <section id="apps-main">
         <h1>Apps <small>Download apps to use with your Kickstrap installation</small></h1>
         <p class="alert"><strong>Temporary apps page</strong>: We're currently working on a new apps page with more advanced functionality than this static page. If you'd like to have your app featured here, contact me at ajkochanowicz@gmail.com</p>
      </section>
   </div>
</div>
   {{>applist}}
