<div class="row">
   <div class="span12">
      <section id="apps-main">
         <h1>Apps <small>Download apps to use with your Kickstrap installation</small></h1>
         <p class="alert alert-info"><strong><i class="icon-bolt"></i> You can <a href="/extend/#app-dev">make your own apps</a></strong> out of existing JS and CSS libraries.</p>
         <p><strong>Temporary apps page</strong>: We're currently working on a new apps page with more advanced functionality than this static page. If you'd like to have your app featured here, contact me at ajkochanowicz@gmail.com</p>
      </section>
   </div>
</div>
   {{>applist}}
