<div class="row">
   <div class="span12">
      <hgroup class="hero-unit main">
         <a href="https://github.com/downloads/ajkochanowicz/Kickstrap/Kickstrap1.1.0Beta.zip"><button class="btn btn-primary btn-large"><h3>Download&nbsp;&nbsp;<i class="icon-download"></i></h3></button></a>
      </hgroup>
   </div>
</div>
<section>
   <div class="row">
      <div class="span12" style="text-align:center;">
         <h1>Bootstrap with Apps, Themes, and Enhancements</h1>
         <p class="lead">Any platform, any language, no-install.</p>
      </div>
   </div>
</section>
<section>
   <div class="row">
      <div class="span4">
         <p><img src="http://getkickstrap.com/img/apps.png" /></p>
         <h3>Run libraries as apps.</h3>
         <p>Kickstrap uses a new technique for loading JavaScript and CSS libraries as atomic units or "apps" that can be turned on and off like light switches. No database required.</p>
         <p><a href="http://getkickstrap.com/apps"><i class="icon-download"></i> Check out our (humble) app store</a></p>
      </div>
      <div class="span4">
         <p><img src="http://getkickstrap.com/img/themes.png" /></p>
         <h3>Add themes in seconds.</h3>
         <p>Thanks to Thomas Park of <a href="http://bootswatch.com">Bootswatch</a>, Kickstrap comes with a handful of themes ready-to-go. This site uses "Spacelab."</p>
         <p><a href="http://getkickstrap.com/docs/1.0/#themes">Look how easy it is to change themes</a></p>
      </div>
      <div class="span4">
         <p><img src="http://getkickstrap.com/img/go.png" /></p>
         <h3>Just download and go.</h3>
         <p>Too many frameworks promise to make your life easy only to require you to install obscure dependencies. Kickstrap is ready out of the box. Just put Kickstrap on your server and begin making your website.</p>
      </div>
   </div>
</section>

<section>
   <div class="row">
      <div class="span12" style="text-align:center;">
         <h1>Never fall behind.</h1>
         <p class="lead">Bootstrap and your customizations are layered separately so you can stay up-to-date in peace.</p>
      </div>
   </div>
</section>
<section>
   <div class="row">
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/fontawesome.png" /></p>
         <h3>Font Awesome</h3>
         <p>Specially made for Bootstrap, Kickstrap uses the Font Awesome icon library instead of the Glyphicons. <a href="http://css-tricks.com/examples/IconFont/">Why are icon fonts awesome you say?</a> Easily revert back to the standard Glyphicons from your kickstrap.less settings file.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/console.png" /></p>
         <h3>Talks to You</h3>
         <p>Kickstrap uses your browser's console like a chat window between you and your site. Quickly troubleshoot your apps and other site settings. Kickstrap also includes an optional notification app called Pines Notify to display Growl-like messages to you or your users.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/less.png" /></p>
         <h3>Write LESS</h3>
         <p>Kickstrap uses LESS, a shorthand CSS preprocessor that compiles down to CSS and provides options for caching. <a href="http://lesscss.org">Read more about LESS CSS</a>. Kickstrap also includes LESS to CSS compilers for Mac and Windows. We recommend compiling to CSS for your final public product.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/colorschemer.png" /></p>
         <h3>Color Schemer</h3>
         <p>Our very own app, Color Schemer, helps you generate color schemes and convert between hsl, hsv, hex, and rgb.</p>
      </div>
   </div>
</section>
<section>
   <div class="row">
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/kickstrap.less.png" /></p>
         <h3>Fine tune Kickstrap</h3>
         <p>Toggle Bootstrap UI components, caching, console-reporting, and more all from one file.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/updater.png" /></p>
         <h3>Get Updates</h3>
         <p>With the updater app, Kickstrap will automatically compare your version against Kickstrap's servers for updates.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/h5bp.png" /></p>
         <h3>Expert Markup</h3>
         <p>As one of the many components used from the <a href="http://html5boilerplate.com">HTML5 Boilerplate</a> project, Kickstrap's included HTML files have built-in best practices like conditional IE HTML classes, meta properties, and CDN jQuery with local fallback.</p>
      </div>
      <div class="span3">
         <p><img src="http://getkickstrap.com/img/bootstrap.png" /></p>
         <h3>Pure Bootstrap</h3>
         <p>Kickstrap uses Bootstrap at its core, so if it works in Bootstrap, it works in Kickstrap.</p>
      </div>
   </div>
</section>
