  <section class="container">
    <header class="row">
      <article class="span6 offset3">
        <h1 style="text-align: center">Welcome to Kickstrap 2</h1>
      </article>
    <header>
    <footer class="row">
      <article class="span6 offset3 well">
        <p>You can now get started customizing your site's <strong>theme</strong>, <strong>apps</strong>, or <strong>extras</strong>.</p>
        <button class="btn"><i class="icon-github"></i> On Github</button>
        <button class="btn btn-primary"><i class="icon-check"></i> Get Started</button> 
      </article>
    </footer>
  </section>
