
<script>
 var kickstrap = {
   opts: 
      {
         "name": "Sample Project",
         "version": "1.0",
         "apps": ["mousetrap", "pinesnotify"],
         "rootDir": "/balls/"
      }

 }
</script>
