<div class="span4">
   <img src="/img/animatecss_promo.png" />
   <h2>Animate.CSS</h2>
   <p><a href="http://daneden.me/animate/">daneden.me</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/animatecss.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Animate.css is a bunch of cool, fun, and cross-browser animations for you to use in your projects. Great for emphasis, home pages, sliders, and general just-add-water-awesomeness.</p>
</div>
