<div class="span4">
   <h2>Animate.CSS <small><a href="http://daneden.me/animate/">daneden.me</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/animatecss.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Animate.css is a bunch of cool, fun, and cross-browser animations for you to use in your projects. Great for emphasis, home pages, sliders, and general just-add-water-awesomeness.</p>
</div>
