<div class="span4">
   <h2>Bootstrap <small><a href="http://twitter.github.com/bootstrap/">Bootstrap Docs</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/bootstrap.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Use either the entire Bootstrap.js library minimized or individual components as apps. Please note, this download contains the necessary directories and config.ks files but requires you to have Bootstrap in Kickstrap/bootstrap.</p>
</div>
