<div class="span4">
   <h2>Chosen <small><a href="http://harvesthq.github.com/chosen/">Harvest HQ</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/chosen.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Chosen is a JavaScript plugin that makes long, unwieldy select boxes much more user-friendly.</p>
</div>
