<div class="span4">
   <img src="/img/chosen_promo.png" />
   <h2>Chosen</h2> 
   <p><a href="http://harvesthq.github.com/chosen/">Harvest HQ</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/chosen.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Chosen is a JavaScript plugin that makes long, unwieldy select boxes much more user-friendly.</p>
</div>
