<div class="span4">
   <img src="/img/colorschemer_promo.png" />
   <h2>Color Schemer</h1> 
   <p><a href="http://www.getkickstrap.com/">Kickstrap</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/colorschemer.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Colorschemer was formerly being tested as an inherent function in Kickstrap, later turned into an app to reduce file size. Color schemer automatically generates analogue, mono, split complement, triad, and tetrad color schemes and will convert colors between hex, hsl, hsv, and rgb all from the command line. For convenience, this will also print a floating set of square previews right in your website. Great for picking color schemes and editing your theme.<p>
</div>
