<div class="span4">
   <h2>Firebug Lite <small><a href="http://getfirebug.com/firebuglite">getfirebug.com</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/firebuglite.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Need to debug your site in a browser with no native inspector? Firebug Lite is the Javascript version of the popular debugging tool for Firefox. This means it runs in any browser...even IE6.</p>
</div>
