<div class="span4">
   <img src="/img/firebug_promo.png" />
   <h2>Firebug Lite</h2> 
   <p><a href="http://getfirebug.com/firebuglite">getfirebug.com</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/firebuglite.zip"><button class="btn btn-primary">Download App</button></a> <a target="_blank" href="http://netdna.getkickstrap.com/examples/firebuglite.html"><button class="btn">Demo</button></a>
   <hr>
   <p>Need to debug your site in a browser with no native inspector? Firebug Lite is the Javascript version of the popular debugging tool for Firefox. This means it runs in any browser...even IE6.</p>
</div>
