<div class="span4">
   <img src="/img/hammerjs_promo.png" />
   <h2>Hammer.js</h2>
   <p><a href="http://eightmedia.github.com/hammer.js/">Hammer JS</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/hammer.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Hammer.js is a Javascript library for multitouch gestures. Only 2kb (minified and gzipped), completely standalone.</p>
</div>
