<div class="span4">
   <h2>Hammer.js <small><a href="http://eightmedia.github.com/hammer.js/">Hammer JS</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/hammer.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Hammer.js is a Javascript library for multitouch gestures. Only 2kb (minified and gzipped), completely standalone.</p>
</div>
