<div class="span4">
   <img src="/img/jquerylint_promo.png" />
   <h2>jQuery Lint</h2>
   <p><a href="http://james.padolsey.com/javascript/jquery-lint/">james.padolsey.com</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/jQueryLint.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>jQuery Lint is a simple script you can download and use with jQuery. It works over the top of jQuery and dilligently reports errors and any incorrect usage of jQuery. It will also, to some extent, offer guidance on best practices and performance concerns.</p>
</div>
