<div class="span4">
   <h2>Knockout.js <small><a href="http://knockoutjs.com/">knockoutjs.com</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/knockout.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Knockout simplifies dynamic JavaScript UIs by applying the MVVM (Model-View-View-Model) pattern. Easily associate DOM elements with model data using a concise, readable syntax, when your data model's state changes, your UI updates automatically. Implicitly set up chains of relationships between model data, to transform and combine it. Quickly generate sophisticated, nested UIs as a function of your model data.</p>
</div>
