<div class="span4">
   <h2>Mousetrap.js <small><a href="http://craig.is/killing/mice/">craig.is</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/mousetrap.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Mousetrap is a simple library for handling keyboard shortcuts in JavaScript.</p>
</div>
