<div class="span4">
   <img src="/img/mousetrapjs_promo.png" />
   <h2>Mousetrap.js</h2> 
   <p><a href="http://craig.is/killing/mice/">craig.is</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/mousetrap.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Mousetrap is a simple library for handling keyboard shortcuts in JavaScript.</p>
</div>
