<div class="span4">
   <h2>Pines Notify <small><a href="http://pinesframework.org/pnotify/">pinesframework.org</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/pinesnotify.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Pines Notify is a JavaScript notification plugin, developed by Hunter Perrin as part of Pines. It is designed to provide an unparalleled level of flexibility, while still being very easy to implement and use.</p>
</div>
