<div class="span4">
   <img src="/img/qunit_promo.png" />
   <h2>QUnit</h2> 
   <p><a href="http://qunitjs.com/">QUnit.js</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/qunit.zip"><button class="btn btn-primary">Download App</button></a> <a target="_blank" href="http://netdna.getkickstrap.com/examples/qunit.html"><button class="btn">Demo</button></a>
   <hr>
   <p>QUnit is a powerful, easy-to-use JavaScript unit test suite. It's used by the jQuery, jQuery UI and jQuery Mobile projects and is capable of testing any generic JavaScript code, including itself!</p>
</div>
