<div class="span4">
   <img src="/img/raphaeljs_promo.png" />
   <h2>Raphael.js</h2> 
   <p><a href="http://raphaeljs.com/">raphaeljs.com</a></p>
   <a href="http://netdna.getkickstrap.com/apps/download/raphael.zip"><button class="btn btn-primary">Download App</button></a>
   <hr>
   <p>Raphaël is a small JavaScript library that should simplify your work with vector graphics on the web. If you want to create your own specific chart or image crop and rotate widget, for example, you can achieve it simply and easily with this library.</p>
</div>
