<div class="span4">
   <h2>Updater <small><a href="http://www.getkickstrap.com/">Kickstrap</a></small></h2>
   <a href="http://netdna.getkickstrap.com/apps/download/updater.zip"><button class="btn btn-primary">Download</button></a>
   <hr>
   <p>Another Kickstrap native app, Updater just checks our server for updates for your Kickstrap installation and gives you a link to the upgrade page if an upgrade is necessary. Updater will try first to give you notifications through the Pines Notify app but falls back to the console if not running.</p>
</div>
