.ks-window.welcome .container-fluid, .ks-window.welcome .grey-header {display: block !important;}
.ks-window.welcome #loader {display: none;}
.ks-window.welcome #body {
	background-color: white;
}
.ks-window.welcome img.preview {
	display: block;
	margin: 10px auto;
	border: 1px dashed #CCC;
	padding: 5px;
}
.ks-window.welcome h1 {
	color: #555;
	padding-bottom: 15px;
	font-weight: normal;
	font-style: italic;
}
.ks-window.welcome p {
	color: #222222;
	font-size: 12pt;
	line-height: 16pt;
}
.ks-window.welcome h1 {
	text-align: center;
}
.ks-window.welcome a.next, .ks-window.welcome a.prev {
	font-size: 12pt;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	right: 20px;
	bottom: 45px;
}

.ks-window.welcome a.prev {
	font-size: 12pt;
	color: #222222;
	font-weight: normal;
	right: auto;
	left: 20px;
}
.ks-window.welcome .card {
	max-height: 270px;
}
.ks-window.welcome .overflow {
	max-height: 180px;
	overflow: auto;
}
img.logo {
	margin: 0px auto;
	display: block;
}
code {
	white-space: nowrap;
}
.ks-window.welcome .grey-header {
	padding: 15px 0;
	background-color: #333333;
	margin-bottom: 15px;
}

.progress.progress-step, .progress.bar {
	height: 5px;
}
.progress-step .step-full, .progress-step .step-empty {
	margin-top: -13px;
}
.progress .bar {
	height: 5px;
}