<div class="span3">
   <img src="/img/{{appSlug}}_promo.png" />
   <h2>{{appName}}</h2> 
   <a href="http://netdna.getkickstrap.com/apps/download/{{appSlug}}.zip"><button class="btn btn-primary"><i class="icon-download-alt"></i> {{appPrice}}</button></a> <a target="_blank" href="http://netdna.getkickstrap.com/examples/{{appSlug}}.html"><button class="btn"><i class="icon-eye-open"></i> Demo</button></a> <a style="margin-left: 10px;" href="{{appUrl}}/"><i class="icon-book"></i> Docs</a>
   <hr>
   <p>{{appDesc}}</p>
</div>
