<style>body {padding-top: 100px;}</style>
<div class="navbar subnav navbar-fixed-top" style="margin-top: 40px;">
   <div class="navbar-inner">
      <div class="container">
         <ul class="nav">
            <li class="active"><a rel="tooltip" title="Just downloaded Kickstrap? Here's how to get started." href="#quickstart">Quickstart</a></li>
         </ul>
      </div>
   </div>
</div>
{{>body}}
<div class="row">
   <div class="span12">
      <section id="quickstart">
         <h1>Quickstart</h1>
         <p>Download the latest version of Kickstrap and move all the files to the location of your site. Bootstrap is already included. You shouldn't need anything else.</p>
      </section>
   </div>
</div>
