<style>
   body {padding-top: 100px;}
   #appList {
      content: "bootstrap, prettify, application, pinesnotify, fokus";
      ie8: "bootstrap, prettify, application, pinesnotify, fokus";
   }
</style>
<link rel="stylesheet" type="text/css" href="/Kickstrap/bootstrap/docs/assets/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/Kickstrap/bootstrap/docs/assets/css/docs.css" />
<link rel="stylesheet" type="text/css" href="/Kickstrap/bootstrap/docs/assets/css/bootstrap-responsive.css" />
<div class="navbar subnav navbar-fixed-top" style="margin-top: 40px;">
   <div class="navbar-inner">
      <div class="container">
         <ul class="nav">
            <li class="{{base-css}}"><a rel="tooltip" title="Fundamental HTML elements styled and enhanced with extensible classes." href="/bootstrapui/base-css/">Base CSS</a></li>
            <li class="{{components}}"><a rel="tooltip" title="Dozens of reusable components built to provide navigation, alerts, popovers, and more." href="/bootstrapui/components/">Components</a></li>
            <li class="{{javascript}}"><a rel="tooltip" title="Bring Bootstrap's components to life—now with 13 custom jQuery plugins." href="/bootstrapui/javascript/">Javascript</a></li>
            <li class="{{scaffolding}}"><a rel="tooltip" title="Bootstrap is built on responsive 12-column grids, layouts, and components." href="/bootstrapui/scaffolding/">Scaffolding</a></li>
         </ul>
      </div>
   </div>
</div>

<div id="bootstrap-docs">
   {{>body}}
</div>
