<style>body {padding-top: 100px;}</style>
<div class="navbar subnav navbar-fixed-top" style="margin-top: 40px;">
   <div class="navbar-inner">
      <div class="container">
         <ul class="nav">
            <li class="{{base-css}}"><a rel="tooltip" title="Organize the layout of your page." href="/bootstrapui/base-css/">Base CSS</a></li>
            <li class="{{components}}"><a rel="tooltip" title="Organize the layout of your page." href="/bootstrapui/components/">Components</a></li>
            <li class="{{javascript}}"><a rel="tooltip" title="Organize the layout of your page." href="/bootstrapui/javascript/">Javascript</a></li>
            <li class="{{scaffolding}}"><a rel="tooltip" title="Organize the layout of your page." href="/bootstrapui/scaffolding/">Scaffolding</a></li>
         </ul>
      </div>
   </div>
</div>

{{>body}}
