<div class="span3">
   <img src="/img/{{themeSlug}}_theme.png" />
   <h2>{{themeName}}</h2> 
   <a href="http://netdna.getkickstrap.com/themes/download/{{themeSlug}}.zip"><button class="btn btn-primary"><i class="icon-download-alt"></i> {{themePrice}}</button></a> <a target="_blank" href="http://netdna.getkickstrap.com/examples/{{themeSlug}}.html"><button class="btn"><i class="icon-eye-open"></i> Demo</button></a> <a style="margin-left: 10px;" href="{{themeUrl}}/"><i class="icon-book"></i> Docs</a>
   <hr>
   <p>{{themeDesc}}</p>
</div>
