
   <style type="text/less">
      @apps: "updater";
   </style>
   <link rel="stylesheet/less" type="text/css" href="kickstrap-example.less">
   <script>localStorage.clear();</script>
   <script src="/Kickstrap/js/less-1.3.0.js"></script>

   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kickstrap</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    	<div id="qunit"></div>
    
    <div class="container">
    	<div class="row">
    	  <div class="span12">
    	  
					<header class="hero-unit">
						<hgroup>
							<h1>Kickstrap</h1>
							<h2>Twitter's Bootstrap with Themes, Apps, and Enhancements</h2>
						</hgroup>
					</header>

					<section class="row-fluid">
						<div class="span8">
							<article>
								<header>
									<hgroup>
										<h1><i class="icon-picture"></i> Change your Theme</h1>
									</hgroup>
								</header>

								<p class="lead">Pick a look for your Kickstrap site.</p>
								<p>Try changing your theme. Go to Kickstrap/themes/ and choose one of the included themes. Now open theme.less and change the paths to point to the less file or files for that theme.</p>
								<footer>
									<p class="muted">Posted <a href="#">Today</a> by <a href="">Adam Kochanowicz</a></p>	
								</footer>
							</article>


							<article>
								<header>
									<hgroup>
										<h1 data-bind="text: welcomeMessage"><i class="icon-bolt"></i> Run Apps</h1>
									</hgroup>
								</header>

								<p class="lead">Start up apps in just a few keystrokes.</p>
								<p>Let's try activating an app. Open your kickstrap.less file and uncomment (remove the //s) the app "knockout". This will allow knockout.js to run. If successful, you should see the title of this section read "Knockout JS is Running!" <a href="http://knockoutjs.com">Read the Knockout.js docs</a> to learn more.</p>
                        <p>Now let's try installing a completely new app. In your Kickstrap folder, you should see a zip file called "qunit.zip." This is what you would get when downloading an app from our <a href="http://getkickstrap.com/apps">App Store</a>. Now extract that file and place the qunit folder in Kickstrap/apps.</p>
                        <p>QUnit is now installed, but not activated. To do that, open kickstrap.less and add "qunit" to the comma-separated list of @apps. Save this file and refresh this page. You should see some Javascript tests run at the top of this page.</p>
								<footer>
									<p class="muted">Posted <a href="#">Today</a> by <a href="">Adam Kochanowicz</a></p>	
								</footer>
							</article>

                     <p class="alert alert-success">Check out <a href="http://getkickstrap.com/docs/1.1/"><i class="icon-book"></i> The docs</a> to work in and extend Kickstrap.</p>

						</div>

						<aside class="span4 well">
							<ul class="nav nav-list">
								<li class="nav-header">More Articles</li>
								<li class="active"><a href="#">Change your Theme</a></li>
								<li><a href="#">Run Apps</a></li>
							</ul>
						</aside>
					</section>

					<div class="pagination">
					  <ul>
					    <li class="disabled"><a href="#">Prev</a></li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">Next</a></li>
					  </ul>
					</div>

    	  </div>
    	</div>
    </div>  	
