@font-face {
  font-family: 'IcoMoonBase';
  src: url('../extras/icomoon/full-webfont.eot');
  src: url('../extras/icomoon/full-webfont.eot?#iefix') format('embedded-opentype'), url('../extras/icomoon/full-webfont.woff') format('woff'), url('../extras/icomoon/full-webfont.ttf') format('truetype'), url('../extras/icomoon/full-webfont.svgz#IcoMoon') format('svg'), url('../extras/icomoon/full-webfont.svg#IcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"]:before,
[class*=" icomoon-"]:before {
  font-family: 'IcoMoonBase';
  font-weight: normal;
  font-style: normal;
  display: inline;
}
.icon-large:before {
  font-size: 1.3333333333333333em;
}
.btn [class^="icomoon-"],
.btn [class*=" icomoon-"] {
  line-height: .9em;
}
li [class^="icomoon-"],
li [class*=" icomoon-"] {
  display: inline;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icomoon-"],
li .icon-large[class*=" icomoon-"] {
  width: 1.875em;
}
li[class^="icomoon-"],
li[class*=" icomoon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icomoon-"]:before,
li[class*=" icomoon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icomoon-"].icon-large:before,
li[class*=" icomoon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
.icomoon-home:before {
  content: "\0021";
}
.icomoon-edit:before {
  content: "\0022";
}
.icomoon-image:before {
  content: "\0023";
}
.icomoon-music:before {
  content: "\0024";
}
.icomoon-video:before {
  content: "\0025";
}
.icomoon-shopping:before {
  content: "\0026";
}
.icomoon-life-saver:before {
  content: "\0027";
}
.icomoon-envelope:before {
  content: "\0028";
}
.icomoon-bubble:before {
  content: "\0029";
}
.icomoon-coffee:before {
  content: "\0030";
}
.icomoon-trash:before {
  content: "\0031";
}
.icomoon-download:before {
  content: "\0032";
}
.icomoon-upload:before {
  content: "\0033";
}
.icomoon-link:before {
  content: "\0034";
}
.icomoon-eye:before {
  content: "\0035";
}
.icomoon-star:before {
  content: "\0036";
}
.icomoon-half-star:before {
  content: "\0037";
}
.icomoon-star:before {
  content: "\0038";
}
.icomoon-heart:before {
  content: "\0039";
}
.icomoon-refresh:before {
  content: "\0040";
}
.icomoon-share:before {
  content: "\0041";
}
.icomoon-gplus:before {
  content: "\0042";
}
.icomoon-gplus-alt:before {
  content: "\0043";
}
.icomoon-gplus-add:before {
  content: "\0044";
}
.icomoon-facebook:before {
  content: "\0045";
}
.icomoon-facebook-alt:before {
  content: "\0046";
}
.icomoon-twitter:before {
  content: "\0047";
}
.icomoon-twitter-alt:before {
  content: "\0048";
}
.icomoon-twitter-t:before {
  content: "\0049";
}
.icomoon-vimeo:before {
  content: "\0050";
}
.icomoon-flickr:before {
  content: "\0051";
}
.icomoon-flickr-alt:before {
  content: "\0052";
}
.icomoon-picasa:before {
  content: "\0053";
}
.icomoon-picasa-alt:before {
  content: "\0054";
}
.icomoon-dribble:before {
  content: "\0055";
}
.icomoon-dribble-alt:before {
  content: "\0056";
}
.icomoon-forrst:before {
  content: "\0057";
}
.icomoon-forrst-alt:before {
  content: "\0058";
}
.icomoon-deviantart:before {
  content: "\0059";
}
.icomoon-blogger:before {
  content: "\0060";
}
.icomoon-blogger-alt:before {
  content: "\0061";
}
.icomoon-tumblr:before {
  content: "\0062";
}
.icomoon-tumblr-alt:before {
  content: "\0063";
}
.icomoon-yahoo:before {
  content: "\0064";
}
.icomoon-yahoo-alt:before {
  content: "\0065";
}
.icomoon-amazon:before {
  content: "\0066";
}
.icomoon-amazon-alt:before {
  content: "\0067";
}
.icomoon-windows:before {
  content: "\0068";
}
.icomoon-apple:before {
  content: "\0069";
}
.icomoon-lastfm:before {
  content: "\0070";
}
.icomoon-delicious-alt:before {
  content: "\0071";
}
.icomoon-htmlfive:before {
  content: "\0072";
}
.icomoon-htmlfive-alt:before {
  content: "\0073";
}
.icomoon-cssthree:before {
  content: "\0074";
}
.icomoon-icomoon:before {
  content: "\0075";
}
